.identify-coupon {
  border: 1px #66c13a solid;
  border-radius: 6px;
}

.identify-display {
  background: #66c13a;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: white;
  padding: 3px 5px;
  width: 216px;
  z-index: 10000000;
}
